body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  min-width: 1000px;
  min-height: 500px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* remove marker/bullet */
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none; /* remove underline */
  color: #1a0dab;
}

#header a {
  color: grey;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  background-color: #fafafa;
  height: 100px;
  width: 100%;
  padding-top: 20px;
}

#header li {
  display: inline-block;
  padding-right: 12px;
}

#header #logo {
  height: 40px;
}

#header #search .text {
  height: 42px;
  font-size: 16px;
  width: 615px;
  text: "blah";
  box-shadow: 0px 1px 1px 0px lightgrey; /* horizontal vertical blur spread color */
  transition-duration: 200ms;
  border: 0.5px solid #d9d9d9;
  border-radius: 3px;
  padding-left: 15px;
}

#header #search .text:focus {
  outline: none; /* don't draw a box around this item when it gets focus */
}

#header #search .text:hover {
  box-shadow: 1px 2px 5px 1px lightgrey; /* horizontal vertical blur spread color */
  transition-duration: 200ms;
}

#header #list1 {
  width: 800px;
  padding-left: 15px;
  float:left; /* allows list2 to sit to the right of it */
}

#header #list2 {
  float:right;
  padding: 10px 20px 0 0; /* top right bottom left */
}

#header #sign-in {
    height: 30px;
    width: 70px;
    border: none;
	background-color: #08f;
	color: white;
    border-radius: 3px;
    font-weight: bold;
    outline: none; /* don't draw a box around this item when it gets focus */
}

#options a {
  font-size: 13px;
}

#header #list3 {
  position: absolute;
  top: 90px;
  left: 150px;
}

#header #list3 li {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

#header #list3 li a:hover {
  color: black;
}

#header #list3 .li1 a:hover {
  color: #08f;
}

#header #list3 .li1 {
  padding-bottom: 12px;
  border-bottom: 3px solid #08f;
}

#header #list3 .li1 a {
  font-weight: bold;
  color: #08f;
}

#header #list3 .li7 {
  padding-left: 85px;
}

#header #list3 .li8 {
  padding: 0;
}

#header #list3 .li8 a {
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 7px 14px 7px 14px; /* top right bottom left */
}

#header #list3 .li8 a:hover {
  border: 1px solid #cccccc;
  background-color: #f4f4f4;
  color: grey;
}

#header #list3 .li8 a:active {
  color: black;
}

#header #apps {
  opacity: 0.5;
}

#header #apps:hover {
  opacity: 0.8;
}

#stats {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 12px;
}

#results a {
  font-size: 18px;
}

#results, #related {
  padding-left: 165px;
  width: 580px;
  margin: 0;
}

#results a:hover, #related a:hover, #pages a:hover {
  text-decoration: underline;
}

.result-item {
  padding-bottom: 30px;
}

.result-link {
  color: #006621;
}

.result-snippet, .sub-snippet {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.result-table td {
  width: 215px;
  padding-left: 25px;
  padding-right: 55px;
}

#results .rt-more {
  font-size: 12px;
}

#related .col2 {
  padding-left: 35px;
}

#pages {
  padding-top: 35px;
  padding-left: 300px;
  padding-bottom: 35px;
}

#pages table {
  border-spacing: 0; /* cell spacing */
}

#pages td {
  padding: 0; /* cell padding */
  text-align: center;
  font-size: 12px;
}

#pages a {
  color: #08f;
}

#pages .td1 {
  padding-bottom: 15px;
}

#pages #next {
  text-align: right;
}

#footer {
  display: inline-block;
  border-top: 1px solid #e4e4e4;
  background-color: #f6f6f6;
  height: 65px;
  width: 100%;
  padding-top: 20px;
  font-size: 12px;
}

#footer .location, #footer .links {
  padding-left: 165px;
}

#footer .location {
  padding-bottom: 10px;
}

#footer #dot {
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 6px 4px 9px 0;
  vertical-align: middle;
  width: 10px;
  background: grey;
  top: 10px;
}

#footer {
  color: #aaa;
}

#footer a {
  color: grey;
}

#footer a:hover {
  color: black;
}

#footer .links a {
  padding-right: 30px;
}
